---
import { mountBinaryBackground } from "../utils/binaryBackground";
---

<div class="binary-bg" id="binary-bg"></div>

<script client:load>
  import { mountBinaryBackground } from "../utils/binaryBackground";

  const el = document.getElementById("binary-bg");
  if (el) mountBinaryBackground(el, 64, 32);
</script>
