---
// TachyonFX Code Animation

import { readFile } from "fs/promises";
import RatatuiVersion from "./RatatuiVersion.astro";
import CopyButton from "./CopyButton.astro";
import CodeExampleLabel from "./CodeExampleLabel.astro";

// Read file at build time
const code = await readFile("./code/tutorials/quickstart-ratatui/src/main.rs", "utf-8");
---

<div class="relative max-sm:hidden">
  <RatatuiVersion />
  <CopyButton code={code} class="absolute top-0 right-0" />
  <div id="tachyon-canvas" class="bg-[#011627]"></div>
  <CodeExampleLabel />
</div>

<script>
  import init, { createRenderer, RendererConfig } from "tachyonfx-renderer";
  import wasmUrl from "tachyonfx-renderer/tachyonfx_renderer_bg.wasm?url";
  import { ANSI_CODE } from "../assets/code-example.ts";

  const EFFECT = `let content_area = Rect::new(0, 0, 80, 27);
let screen_bg = Color::from_u32(0x020617);

fx::parallel(&[
  fx::slide_in(Motion::LeftToRight, 10, 0, screen_bg, (1500, Interpolation::Linear)),
  fx::coalesce((1800, Interpolation::QuadOut))
])
`;

  async function initTachyon() {
    try {
      await init(wasmUrl);

      const config = new RendererConfig("tachyon-canvas").withDsl(EFFECT).withCanvas(ANSI_CODE);

      const renderer = createRenderer(config);
      document.getElementById("code-label")?.classList.remove("opacity-0");
    } catch (error) {
      console.error("Error:", error);
    }
  }

  initTachyon();
</script>
