---
// Footer label for landing page code sample
---

<div
  class="absolute right-3 bottom-3 text-sm text-slate-500 opacity-0 transition-opacity"
  id="code-label"
>
  (Powered by{" "}
  <a
    class="bg-slate-950 px-1 text-slate-300 hover:bg-slate-800"
    href="https://github.com/orhun/ratzilla"
    target="_blank">Ratzilla</a
  >
  {" "}
  with{" "}
  <a
    class="bg-slate-950 px-1 text-slate-300 hover:bg-slate-800"
    href="https://github.com/webassembly"
    target="_blank"
  >
    WebAssembly</a
  >)
</div>
