---
import netflix from "../assets/netflix.png"
import openai from "../assets/openai.png"
---

<div class="flex flex-wrap gap-8 pt-4 items-center justify-left">
  <p class="items-center text-base text-white">Powering: </p>
  <a class="no-underline" href="https://github.com/Netflix/bpftop" target="_blank" aria-label="Netflix" >
    <img src={netflix.src} class="h-[50px]" />
  </a>
  <a class="no-underline" href="https://github.com/zaghaghi/openapi-tui" target="_blank" aria-label="OpenAI">
    <img src={openai.src} class="h-[40px] bg-white p-2 px-4" />
  </a>
</div>