---
import netflix from "@assets/netflix.png";
import openai from "@assets/openai.svg";
import ovhcloud from "@assets/ovh.png";
---

<div class="flex flex-wrap items-center gap-8 pt-2 max-sm:justify-center">
  <p class="items-center text-base text-white max-sm:hidden"><b>Powering industry leaders:</b></p>
  <a
    class="no-underline"
    href="https://github.com/Netflix/bpftop"
    target="_blank"
    aria-label="Netflix"
  >
    <img src={netflix.src} class="h-[50px]" />
  </a>
  <a
    class="no-underline"
    href="https://github.com/openai/codex"
    target="_blank"
    aria-label="OpenAI"
  >
    <img src={openai.src} class="h-[45px] rounded-full bg-white p-2" />
  </a>
  <a class="no-underline" href="https://github.com/ovh/shai" target="_blank" aria-label="OVH Cloud">
    <img src={ovhcloud.src} class="h-[50px] rounded-full" />
  </a>
</div>
