---
interface Props {
  primaryClass: string;
  secondaryClass: string;
}

const { primaryClass, secondaryClass } = Astro.props;

const links = [
  { class: primaryClass, title: "Get Started", href: "/installation" },
  { class: secondaryClass, title: "Browse Example", href: "/examples" },
  { class: secondaryClass, title: "API Docs", href: "https://docs.rs/ratatui" },
];
---

<div class="flex-row max-xl:flex-wrap">
  {links.map((link) => (
     <a class="no-underline" href={link.href} aria-label={link.title}>
      <span class={`font-bold text-xl text-white bg-blue-700 p-4 pl-10 pr-8 mr-10 max-2xl:pl-6 max-2xl:pr-5 ${link.class}`}>
        <span class="btn-slide relative">{link.title}</span>
      </span>
    </a>))
  }
 </div>