@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 50rem) {
  /* Move the logo to the left side  */

  .hero {
    grid-template-columns: 3fr 7fr;
    gap: 6%;
    padding-block: 1.5rem;
  }

  .hero > img,
  .hero > .hero-html {
    order: 0;
    width: min(100%, 15rem);
  }
}

.three-cols {
  display: grid;
  padding-top: 1rem;
  @media (min-width: 50rem) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  gap: 2.5rem;
  h3 {
    margin-bottom: 0rem;
  }
}

/* Fix for SVGBob diagrams on dark mode */
svg.svgbob text,
svg.svgbob .filled {
  fill: currentColor;
}
svg.svgbob .solid,
svg.svgbob polygon {
  stroke: currentColor;
}

/* Fix for Mermaid diagrams on dark mode */
svg[aria-roledescription="sequence"] .messageText {
  fill: currentColor !important;
}
svg[aria-roledescription="sequence"] line,
svg[aria-roledescription="sequence"] path,
svg[aria-roledescription="sequence"] .flowchart-link {
  stroke: currentColor !important;
}
svg[aria-roledescription="flowchart-v2"] .arrowMarkerPath {
  fill: currentColor;
}
svg[aria-roledescription="flowchart-v2"] line,
svg[aria-roledescription="flowchart-v2"] path,
svg[aria-roledescription="flowchart-v2"] .flowchart-link {
  stroke: currentColor !important;
}
svg[aria-roledescription="stateDiagram"] {
  line-height: normal;
}
svg[aria-roledescription="stateDiagram"] line,
svg[aria-roledescription="stateDiagram"] path,
svg[aria-roledescription="stateDiagram"] circle {
  stroke: currentColor !important;
}

marker#arrowhead path {
  fill: currentColor !important;
  stroke: currentColor !important;
}

:root {
  --sl-content-width: 60rem;
}
